<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kevenpotter.student.dao.ScoreDao">

    <!-- 根据[学生编号]查询[分数详情数据传输类]集合 -->
    <select id="getScoreByStudentId" resultType="com.kevenpotter.student.domain.dto.ScoreProfileDto">
        SELECT s.student_id  AS 'studentId',
               c.course_name AS 'courseName',
               c.`hour`      AS 'courseHour',
               c.credit      AS 'courseCredit',
               s.score       AS 'courseScore'
        FROM score s
                 LEFT JOIN course c ON s.course_id = c.course_id
        WHERE s.student_id = #{studentId}
          AND s.semester = #{semester};
    </select>

</mapper>