<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kevenpotter.student.dao.StudentDao">

    <!-- 统计各系部男女学生人数并将其返回 -->
    <select id="getSexStatisticsByDepartment" resultType="com.kevenpotter.student.domain.dto.StudentSexStatisticsDto">
        SELECT
	        d.department_name AS 'departmentName',
	        sum(
		        CASE
		        WHEN s.sex = '男' THEN
			        1
		        ELSE
		        	0
		        END
	        ) AS 'numberOfMales',
	        sum(
	        	CASE
		        WHEN s.sex = '女' THEN
		        	1
		        ELSE
		        	0
		        END
	        ) AS 'numberOfFemales'
        FROM
	        student s
        LEFT JOIN department d ON s.department_id = d.department_id
        GROUP BY
	        s.department_id,
	        d.department_name;
    </select>

	<!-- 根据[学生编号]查询[学生详情数据传输类] -->
	<select id="getStudentProfileByStudentId" resultType="com.kevenpotter.student.domain.dto.StudentProfileDto">
		SELECT
			s.id AS 'id',
			s.student_id AS 'studentId',
			s.grade AS 'studentGrade',
			s.clazz AS 'studentClazz',
			s.sex AS 'studentSex',
			s.`name` AS 'studentName',
			s.age AS 'studentAge',
			s.mobile AS 'studentMobile',
			s.address AS 'studentAddress',
			d.department_name AS 'departmentName',
			m.major_name AS 'majorName'
		FROM
			student s
		LEFT JOIN department d ON s.department_id = d.department_id
		LEFT JOIN major m ON s.major_id = m.major_id
		WHERE
			s.student_id = #{studentId};
	</select>

</mapper>