<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kevenpotter.student.dao.SystemUserDao">

    <!-- 根据[主键ID]返回[后台用户实体类] -->
    <select id="getSystemUserById" resultType="com.kevenpotter.student.domain.entity.SystemUserEntity">
        SELECT *
        FROM system_user su
        WHERE su.id = #{id};
    </select>

    <!-- 根据[用户编号]返回[后台用户实体类] -->
    <select id="getSystemUserByUserId" resultType="com.kevenpotter.student.domain.entity.SystemUserEntity">
        SELECT *
        FROM system_user su
        WHERE su.user_id = #{userId};
    </select>

    <!-- 根据[用户昵称]返回[后台用户实体类] -->
    <select id="getSystemUserByNickname" resultType="com.kevenpotter.student.domain.entity.SystemUserEntity">
        SELECT *
        FROM system_user su
        WHERE su.user_nickname = #{userNickname};
    </select>

    <!-- 根据[用户邮箱]返回[后台用户实体类] -->
    <select id="getSystemUserByEmail" resultType="com.kevenpotter.student.domain.entity.SystemUserEntity">
        SELECT *
        FROM system_user su
        WHERE su.user_email = #{userEmail};
    </select>

    <!-- 根据[用户手机]返回[后台用户实体类] -->
    <select id="getSystemUserByMobile" resultType="com.kevenpotter.student.domain.entity.SystemUserEntity">
        SELECT *
        FROM system_user su
        WHERE su.user_mobile = #{userMobile};
    </select>

    <!-- 插入一条新的[后台用户实体] -->
    <insert id="addSystemUser" parameterType="com.kevenpotter.student.domain.dto.SystemUserDto" keyProperty="systemUserDto.id" keyColumn="id" useGeneratedKeys="true">
        INSERT INTO `student`.`system_user` (`user_id`, `user_mobile`, `user_email`, `user_nickname`, `user_password`, `user_status`, `salt`, `user_create_time`, `user_update_time`)
        VALUES (#{systemUserDto.userId}, #{systemUserDto.userMobile}, #{systemUserDto.userEmail}, #{systemUserDto.userNickName}, #{systemUserDto.userPassword}, 1, #{systemUserDto.salt}, NOW(), NOW())
    </insert>

    <!-- 更新[系统用户实体] -->
    <update id="updateSystemUser" parameterType="com.kevenpotter.student.domain.dto.SystemUserDto" useGeneratedKeys="true" keyProperty="systemUserDto.id" keyColumn="1">
        UPDATE `student`.`system_user`
        <trim prefix="SET" suffixOverrides=",">
            <if test="systemUserDto.userId != null">
                `user_id`=#{systemUserDto.userId},
            </if>
            <if test="systemUserDto.userMobile != null">
                `user_mobile`=#{systemUserDto.userMobile},
            </if>
            <if test="systemUserDto.userEmail != null">
                `user_email`=#{systemUserDto.userEmail},
            </if>
            <if test="systemUserDto.userNickName != null">
                `user_nickname`=#{systemUserDto.userNickName},
            </if>
            <if test="systemUserDto.userStatus != null">
                `user_status`=#{systemUserDto.userStatus},
            </if>
            <if test="systemUserDto.userUpdateTime != null">
                `user_update_time`=#{systemUserDto.userUpdateTime}
            </if>
        </trim>
        WHERE (`id`=#{systemUserDto.id})
    </update>

</mapper>