<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kevenpotter.student.dao.TeacherDao">

    <!-- 依据指定条件查找规定范围内的[教师实体]列表 -->
    <select id="getTeachers" resultType="com.kevenpotter.student.domain.entity.TeacherEntity">
        SELECT * FROM teacher t
        <where>
            <if test="teacherId != null">
                AND t.teacher_id LIKE CONCAT('',#{teacherId},'%')
            </if>
            <if test="name != null">
                AND t.name LIKE CONCAT('%',#{name},'%')
            </if>
            <if test="departmentId != null">
                AND t.department_id = #{departmentId}
            </if>
            <if test="majorId != null">
                AND t.major_id = #{majorId}
            </if>
            <if test="professional != null">
                AND t.professional = #{professional}
            </if>
        </where>
    </select>

    <!-- 根据[教师编号]查询[教师详情数据传输类] -->
    <select id="getTeacherProfileByTeacherId" resultType="com.kevenpotter.student.domain.dto.TeacherProfileDto">
        SELECT t.id              AS 'id',
               t.teacher_id      AS 'teacherId',
               t.`name`          AS 'teacherName',
               t.professional    AS 'professional',
               t.age             AS 'teacherAge',
               t.sex             AS 'teacherSex',
               t.mobile          AS 'teacherMobile',
               t.address         AS 'teacherAddress',
               d.department_name AS 'departmentName',
               m.major_name      AS 'majorName'
        FROM `teacher` t
                 LEFT JOIN department d ON t.department_id = d.department_id
                 LEFT JOIN major m ON t.major_id = m.major_id
        WHERE t.teacher_id = #{teacherId};
    </select>

</mapper>